# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
/dist/lib/cosmos/cosmosClient.js
/dist/lib/cosmos/cosmosFactory.js
/dist/lib/cosmos/cosmosRepository.js
/dist/lib/cosmos/index.js
/dist/index.js
/dist/lib/logger/logger.js
/dist/lib/schemas.js
/dist/lib/cosmos/tenantRepository.js
/dist/routes/tenantRoutes.js
